@model IEnumerable<LTQL_1721050136.Models.LopHoc136>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenLop)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenLop)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Sửa", new { id=item.MaLop }) |
            @Html.ActionLink("Thông tin", "Thông tin", new { id=item.MaLop }) |
            @Html.ActionLink("Xóa", "Xóa", new { id=item.MaLop })
        </td>
    </tr>
}

</table>
